@media(max-width:950px){
    .header_menu__btn{
        display: block !important;
       position: absolute;
       right: 0;
       top: 0;
    }
    .header_menu > ul{
        display: none;
        position: absolute;
      
        z-index: 2;
        top: 30px;
      right: 0;
      
        
        
    }
    .header_top{
      position: relative;
    }
    .header_menu{
      display: block;
      li{
        display: block !important;
        padding-top: 10px;
        text-align: right;
        background-color: #fff;
        width: 200px;
        height: 40px;
        
        & + li{
            margin-left: 0 !important;
        }
    }
    }
    
    .header_btn {
    margin: 0;
   
    position: absolute;
    top: 88%;
    left: 50%;
    
    transform: translate(-50%, -50%) }
    
    .list{
      display: block;
    }
    .header_content-title{
      font-size: 50px;
    }
}
    

